.botones{

    width: 240px;
    background: #b5cef0;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.botones button {
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: #374151;
  color: white;
  cursor: pointer;
  text-align: left;
}